


.details-container {
  padding: 100px 20px;
  width: 100%;
  min-height: 100vh;
  margin: auto;

  background: url("../assets/book-library.jpg") no-repeat center / cover;
}

.details-box {
  background: rgba(255, 255, 255, 0.227);
  backdrop-filter: blur(5px);
  padding: 40px;
   box-shadow: 0 10px 25px rgba(140, 95, 255, 0.15);
  border: 1px solid rgba(150, 84, 255, 0.15);
  animation: fadeIn 0.4s ease;
}

.details-box h1 {
  color: #5a2bc8;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.details-box p {
  margin: 12px 0;
  color: #0e0e0e;
  font-size: 17px;
  line-height: 1.6;
}

.details-box .label {
  font-weight: 600;
  color: #7f52ff;
}



.back-link {
  margin-top: 25px;
  display: inline-block;
  padding: 10px 16px;
  background: linear-gradient(45deg, #8b5cf6, #a855f7);
 color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
 
}

.back-link:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 18px rgba(140, 95, 255, 0.3);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: white;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px;
}

.confirm-btn {
  background: #e53935;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-btn {
  background: #ccc;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.delete-btn {
  background: crimson;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 20px;
}
.delete-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 18px rgba(241, 5, 21, 0.3);
}

